<mat-nav-list>
    <a *ngFor="let option of options.options" mat-list-item (click)="openLink($event, option.events.click)">
        <span mat-line>{{option.label}}</span>
        <span mat-line>{{option.sub_label}}</span>
    </a>
</mat-nav-list>