<div class="page-homepage">
    <workspace #workspace></workspace>
    <floating-panel [buttons]="floatingButtons"></floating-panel>
</div>
<input (change)="generateSizedImages($event)" class="hidden" type="file" #uploader>