<svg #workspace class="workspace-container" xmlns="http://www.w3.org/2000/svg"
     version="1.1" x="0px" y="0px" xml:space="preserve"
     [attr.width]="workSpaceDimensions.width"
     [attr.height]="workSpaceDimensions.height">

    <ng-container *ngIf="designData">
        <ng-container *ngFor="let element of designData.elements">
            <ng-container *ngIf="element.type === 'IMAGE'">

                <ng-container *ngIf="element.clipping">
                    <clipPath id="clipCircle">
                        <ng-container *ngIf="element.clipping.type === 'CIRCLE'">
                            <circle [attr.cx]="element.size.width / 2"
                                    [attr.cy]="element.size.height / 2"
                                    [attr.r]="element.size.width / 2"/>
                        </ng-container>
                        <ng-container *ngIf="element.clipping.type === 'POLYGON'">
                            <polygon/>
                        </ng-container>
                        <ng-container *ngIf="element.clipping.type === 'STAR'">
                           <polygon points="100,0 40,198 190,78 10,78 160,198"/>
                        </ng-container>
                    </clipPath>
                </ng-container>

                <image svg-image
                       [attr.href]="fittedImages[element.image_id]"
                       [element]="element"
                       [container]="workspace"
                       [dragHandlers]="{
                            rotator: rotationHandler,
                            container: dragHandlerGroup,
                            wrap: wrapDragHandler,
                            topLeft: topLeftDragHandler,
                            bottomLeft: bottomLeftDragHandler,
                            bottomRight: bottomRightDragHandler,
                            topRight: topRightDragHandler
                       }"
                       clip-path="url(#clipCircle)"></image>

                <g #dragHandlerGroup>
                    <circle #rotationHandler style="cursor: pointer" r="5" fill="#26b7ff"></circle>
                    <circle #topLeftDragHandler style="cursor: pointer" r="5" fill="#26b7ff"></circle>
                    <circle #bottomLeftDragHandler style="cursor: pointer" r="5" fill="#26b7ff"></circle>
                    <circle #bottomRightDragHandler style="cursor: pointer" r="5" fill="#26b7ff"></circle>
                    <circle #topRightDragHandler style="cursor: pointer" r="5" fill="#26b7ff"></circle>
                    <rect #wrapDragHandler style="stroke: #26b7ff;stroke-width: 3;stroke-dasharray: 10 5;fill: none;"></rect>
                </g>
            </ng-container>
        </ng-container>

    </ng-container>
</svg>
