<div class="floating-panel-container">
    <button (click)="button.events.click($event)" class="floating-button" color="{{button.color ? button.color : 'primary'}}" mat-mini-fab *ngFor="let button of buttons">
        <i class="{{button.icon}}"></i>{{button.label}}
    </button>
</div>
