@import '../../../assets/less/components/workspace-canvas';

.tool-page-container {
    width: 100%;
    height: 100vh;

    .side-nav-content-container {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    .main-body-container{
        padding: 20px;
    }

    .side-nav-toggle {
      top: 15px;
      left: 0;
      position: absolute;
      border-radius: 0;
    }
}