<mat-drawer-container class="tool-page-container" autosize>
    <mat-drawer #drawer class="main-body-container" mode="side">
        <p>Auto-resizing sidenav</p>
        <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
        <button (click)="showFiller = !showFiller" mat-raised-button>
            Toggle extra text
        </button>
    </mat-drawer>

    <div class="side-nav-content-container">
        <button class="side-nav-toggle" type="button" mat-raised-button color="primary" (click)="drawer.toggle()">
            Edit
        </button>
        <workspace-canvas #workspaceCanvas></workspace-canvas>
    </div>

</mat-drawer-container>